.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.app-layout {
  min-height: 100vh;
}

.app-layout-header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

.app-layout-content {
  padding: 0 50px;
  margin-top: 64px;
}

.main-content-layout {
  padding: 24px;
  min-height: 80vh;
  background: #fff;
}

.main-content {
  width: 600px;
  margin: auto;
}
